@model IEnumerable<IPersonaMVC.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid black;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<div>
    <h1>Lista de Usuarios</h1>

    <table>
        <thead>
            <tr>
                <th>IdUsuario</th>
                <th>NombreUsuario</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.IdUsuario</td>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Activo</td>
                </tr>
            }
        </tbody>
    </table>
</div>
